.ttt {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
}

.float {
    float: left;
}

.clear {
    clear: both;
}

.body {
    margin-left: auto;
    margin-right: auto;
}


.left {
    width: 150px;
    height: 150px;
    margin: auto;
    border-top: solid;
    border-color: teal;
	background-color: bisque;
	font-size: 100px;
	text-align: center;
	vertical-align: middle;
	line-height: 150px;
}

.middle {
    width: 150px;
    height: 150px;
    margin: auto;
    border-top: solid;
    border-bottom: solid;
    border-top-color: teal;
    border-bottom-color: teal;
	background-color: bisque;
	font-size: 100px;
	text-align: center;
	vertical-align: middle;
	line-height: 150px;
}

.right {
    width: 150px;
    height: 150px;
    margin: auto;
    border-bottom: solid;
    border-color: teal;
	background-color: bisque;
	font-size: 100px;
	text-align: center;
	vertical-align: middle;
	line-height: 150px;
}

.border-left {
    border-left: solid;
    border-left-color: teal;
}

.border-right {
    border-right: solid;
    border-right-color: teal;
}

.button-left, .button-right {
	text-align: center;
	margin-bottom: 25px;
	width: 55px;
	height: 50px;
	border: solid;
	border-color: teal;
	margin-left: 5px;
}

.display {
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
	width: 200px;
	height: 50px;
	border: solid;
	border-color: teal;
	margin-left: 70px;
	margin-right: 5px;
}